@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Cabin', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
}

.FaQBGImg {
    background-image: url('./assets/FAQBG.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.BackImageOnBanner{
    background-image: url('./assets/BackImg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}